body {
  margin: 0;
  color: #333;
  background: url(images/bg.jpg) fixed;
  background-size:100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

#mystuffs {
	min-height:800px;
	
}

#container {
  width: 900px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#logo {
  display: block;
  width: 100%;
  border: none;
}

#footer {
  border-top: 1px solid #00a0b0;
  margin-top: 40px;
  padding: 20px 0 0 0;
  font-size: .8em;
}

h1 {
  color: #2A80B9;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h2, h2 a {
  color: lightgreen;
}

h2 a {
  text-decoration: none;
  color: lightgreen;
}

.account_menu{
	height:50px;
	margin: 20px 0 20px 0;
}
.account_menu1{
	color: #eb6841;	
	text-decoration:none;
	font-size:21px;
	padding:10px;
	background:#000;
	border-radius: 10px 0 0 10px;
}

.account_menu1:hover{
	color: #000;	
	background:#eb6841;
	border-radius: 0 0 0 0;
}

.logout_menu{
	color: #00a0b0;
	text-decoration:none;
	font-size:21px;
	padding:10px;
	background:#000;
	border-radius: 0 10px 10px 0;
}

.logout_menu:hover{
	color: #000;	
	background:#00a0b0;
	border-radius: 0 0 0 0;
}

.menu_item{
	text-decoration:none;
	font-size:21px;
	padding:10px;
	color: #edc951;
	background:#00a0b0;
}

.menu_item:hover{
	background:#edc951;
	color:#00a0b0;
	border-radius: 50px 50px 50px 50px;
}


.footer_menu{
	padding: 20px 0px;
	border-bottom: 1px solid #00a0b0;  

}

.mybutton {
  display: inline;
  margin: 0 20px;
  text-decoration:none;
  padding: 10px;
  border-left: 5px solid #7c412b;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  font-weight: bold;
  -webkit-appearance: none;
}

.mybutton:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #2A80B9;
  color: #fff;
}

.mybutton:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}

#headlines {
  list-style: none;
  padding-left: 0;
  width: 75%;
}

#headlines li {
  margin-bottom: 2em;
}

.pubDate {
  font-size: .8em;
  color: #eb6841;
  text-transform: uppercase;
}



#headlines .pubDate {
  display: inline-block;
  width: 100px;
  font-size: .5em;
  vertical-align: middle;
}

#headlines.archive .pubDate {
  width: 130px;
}

.admnumber {
  padding-left: 100px;
}

#headlines.archive .admnumber {
  padding-left: 130px;
}

.my_menu{
	padding:7px;
	background: -webkit-linear-gradient(top, gray, black, gray);
	background: -moz-linear-gradient(bottom, gray, black, gray);
	background: -o-linear-gradient(bottom, gray, black, gray);
	background: linear-gradient(bottom, gray, black, gray);
	border-radius: 0px 0px 10px 10px;
}
.my_menu_itemr{
	text-decoration:none;
	color:white;
	font-size:20px;
	padding:7px;
	background: -webkit-linear-gradient(top, #f00000, #fff);
	background: -moz-linear-gradient(bottom, #f00000, #fff);
	background: -o-linear-gradient(bottom, #f00000, #fff);
	background: linear-gradient(bottom, #f00000, #fff);
	border-radius: 0px 10px 0px 10px;
	float:left;
}
.my_menu_iteml{
	text-decoration:none;
	color:white;
	font-size:20px;
	padding:7px;
	background: -webkit-linear-gradient(top, #f00000, #fff);
	background: -moz-linear-gradient(bottom, #f00000, #fff);
	background: -o-linear-gradient(bottom, #f00000, #fff);
	background: linear-gradient(bottom, #f00000, #fff);
	border-radius: 10px 0px 10px 0px;
	float:right;
	
}

.my_menu_item{
	text-decoration:none;
	color:white;
	font-size:20px;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
}

.my_menu_item:hover{
	
	background: -webkit-linear-gradient(top, black, gray, black);
	background: -moz-linear-gradient(bottom, black, gray, black);
	background: -o-linear-gradient(bottom, black, gray, black);
	background: linear-gradient(bottom, black, gray, black);

}

#accountHeader {
  padding: 0 10px;
  border-bottom: 1px solid #00a0b0;  
  font-size: 0.8em;
}

.myform {
  margin: 20px auto;
  padding: 40px 20px;
  overflow: auto;
  background: lightgreen;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}


form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: .9em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
}

label {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 20%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
  font-size:20px;
}

#fullname,#email,#username, #password ,#sex,#mobile,#location,#occupation,
#title, #category,#description,#duedate,#specs,#content{
  display: block;
  margin: 0;
  font-size:15px;
  line-height:40px;
  padding: 3px;
  width: 65%;
}
#upload{
  display: inline;
  margin: 0;
  font-size:18px;
  width: 50%;
}

input, textarea, .date {
  border: 2px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
  border-radius: 5px;
  background: #fff;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  
}

input {
  font-size: 25px;
}

select {
  padding: 0;
  margin-bottom: 2.5em;
  position: relative;
  top: .7em;
}

textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 5em;
  line-height: 1.5em;
}

textarea#dobirth {
  font-family: "Courier New", courier, fixed;
}

form *:focus {
  border: 2px solid #7c412b;
  outline: none;
}


input:valid, textarea:valid {
  background: #efe;
}

.buttons {
  text-align: center;
  margin: 40px 0 0 0;
}

.registr {
  display: inline;
  margin: 30px;
  text-decoration:none;
  width: 100px;
  padding: 10px 120px 10px 120px;
  font-size:30px;
  border: 2px solid #7c412b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #2A80B9;
  font-weight: bold;
  -webkit-appearance: none;
}

.registr:hover{
  background: #fff;
  color: #2A80B9;
}

input[type="submit"] {
  display: inline;
  margin: 0 20px;
  width: 12em;
  padding: 15px;
  font-size:30px;
  border: 2px solid #7c412b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #2A80B9;
  font-weight: bold;
  -webkit-appearance: none;
}

input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #fff;
  color: #2A80B9;
}

input[type="submit"]:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr, th, td {
  padding: 10px;
  
  margin: 0;
  text-align: left;
}

table, th {
  border: 0px solid #00a0b0;
}

th {
  border-left: none;
  border-right: none;
  background: #2A80B9;
  color: #fff;
  cursor: default;
}

.statusMessage, .errorMessage {
  font-size: 1.2em;
  padding: .5em;
  margin: 1em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.statusMessage {
  background-color: #2b2;
  border: 1px solid #080;
  color: #fff;
}

.errorMessage {
  background-color: #f22;
  border: 1px solid #800;
  color: #fff;
}


.my_bar{
	width:250px;
	margin:10px;
	padding:10px;
	display:inline-block!important;
	border-radius:10px;
	border: 2px solid #f00000;	
	box-shadow: 0 0 .7em rgba(0, 0, 0, .8);
}
.my_main{
	float:left;
	margin:10px;
	padding:10px;
	width:600px;
	border-right: 2px solid #f00000;
}
.Whole{
	clear:both;


}

.my_left{
	float:left;
	width:30%!important;
}
.my_right{
	float:right;
	width:60%;
	border-left:2px solid #f00000;
}

.my_sidebar{
	color:#fff;
	font-size:20px;
	float:right;
	width:200px;
	margin:5px;
	padding:5px;
	display:inline-block!important;
}

.sidebox{
	background:#999;
	color:#fff;
	font-size:20px;
	padding:10px;
	margin:5px;
	margin-bottom:20px;
	display:inline-block!important;
	border: 2px solid #f00000;
	border-radius:5px;
	box-shadow: 0 0 .7em rgba(0, 0, 0, .8);
}

.shover{
	color:white;
	background:green;
	font-size:20px;
	border-radius:5px;
	padding:10px;margin:10px;
}

.hover a{
	color:white;
	background:red;
	font-size:20px;
	border-radius:5px;
	padding:10px;margin:10px;
	text-decoration:none;
}

.hover a:hover{
	color:white;
	background:green;
	border-radius:5px;
	padding:10px;
}
.uhover{
	display:block;
	clear:both;	
	padding:5px;
	
}


.pmenus a{
	color:white;
	background:blue;
	font-size:20px;
	border-radius:5px;
	padding:10px;margin:10px;
	text-decoration:none;
}

.pmenus a:hover{
	color:black;
	background:orange;
	border-radius:5px;
	padding:10px;
}
.uhover a{
	color:#000;
	text-decoration:none;
}

.uhover:hover{
	color:white;
	background:gray;
	border-radius:5px;
}